.eunit
*.o
**/*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

# Remote Directories
*/basic_reminder/

/2. OTP (Open Telecom Platform)/*
/3. Distribution & Tooling/*
/4. Advanced Topics & Projects/*