[submodule "1. Concurrency Foundations/basic_reminder"]
  path = 1. Concurrency Foundations/basic_reminder
  url = # TODO

[submodule "2. OTP (Open Telecom Platform)/my_gen_server"]
  path = 2. OTP (Open Telecom Platform)/my_gen_server
  url = https://github.com/Kafftum/my_gen_server
  branch = my_gen_server

[submodule "2. OTP (Open Telecom Platform)/my_gen_server_app"]
  path = 2. OTP (Open Telecom Platform)/my_gen_server_app
  url = https://github.com/Kafftum/my_gen_server
  branch = my_gen_server_app

[submodule "3. Distribution & Tooling/my_gen_server_distributed"]
  path = 3. Distribution & Tooling/my_gen_server_distributed
  url = https://github.com/Kafftum/my_gen_server
  branch = my_gen_server_distributed

[submodule "3. Distribution & Tooling/my_gen_server_tests"]
  path = 3. Distribution & Tooling/my_gen_server_tests
  url = https://github.com/Kafftum/my_gen_server
  branch = my_gen_server_tests

[submodule "4. Advanced Topics & Projects/chat_server"]
  path = 4. Advanced Topics & Projects/chat_server
  url = # TODO

[submodule "4. Advanced Topics & Projects/distributed_job_queue"]
  path = 4. Advanced Topics & Projects/distributed_job_queue 
  url = # TODO

[submodule "4. Advanced Topics & Projects/cowboy_web_service"]
  path = 4. Advanced Topics & Projects/cowboy_web_service 
  url = # TODO